.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}

#TOC {
  background: white;
  background: url("./img/gemeente_amsterdam.png");
  background-size: contain;
  padding-top: 140px ;
  font: 11px Corbel/11px Corbel;
  background-repeat: no-repeat;
  background-color: white;
  border-color: white;
  top: -0.5%;
  left: -.2%;
  opacity: 0.7;
}

#TOC:hover {
  opacity: 1;
  font: 11px Corbel/11px Corbel;
  
}


h1.title {
  font-size: 38px;
  color: red;
  font-weight: bold;
}


h1 {
  color: red;
}

btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
    text-transform: ;
}

btn-default {
    color: #FF0000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

body {
    font-family: Corbel ;
    position: relative;
    left: 0.55in;
    margin: auto 0.55in 0.3in auto;
    line-height: 1.8;
    font-size: 1.5rem;
}




caption {
  color: red  ;
  font-size: 14px ; 
  font-weight: bold;
}

table-wrapper caption {
color: red;
font-family: Corbel;
font-weight: bold;
font-size: xx-large;
}


li {
font-weight: 10;
}


pre code {
  font-weight: 1000;
  color: #3C674D ;
  font-family: 'Baloo Bhaina 2';
  line-height: 1.8;
  font-size: 1.2rem;
}



.r {
  color: black ;
  font-weight: 300 ;
  font-family: 'Baloo Bhaina 2' ;
  background-color: #FFFEF6 ;
  border-color: #FFFFF6 ;
    opacity: .8 ;

  

}

div.puzzle {
    padding: 1em;
    margin: 1em 0;
    padding-left: 180px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-color: lightgrey ;
    background-image: url("./img/gemeente_amsterdam.png");
    min-height: 70px;
    font-size: 19px ;
    font-weight: 25;
    color: black;
    border: solid 1px grey;
  }


.main-container{
  
  margin-right: 200px ;
  
}


div.vraag {
    padding: 1em;
    margin: 1em 0;
    padding-left: 180px;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-color: lightblue ;
    background-image: url('./img/gemeente_amsterdam.png');
    min-height: 70px;
    font-size: 18px ;
    font-weight: 40;
    color: white;
    border: solid 1px lightblue;
    border-radius: 12px;
    float: right ;
    clear: right ;
    margin-right: -65% ;
    width: 57%  ;
    margin-top:  0 ;
    margin-bottom:  0 ;
    vertical-align: baseline ;
    position: relative ;
  }
  
  
.details:summary {
    font-size: 30px ;
    font-weight: 30;
    color: pink;
    border: solid 8px purple;
}



a:link {

  color: #77BA99;

}

.darkblue {

  color: darkblue;

}

.forestgreen {

  color: darkgreen;

}

.red {

  color: #C62E65;

}

.pull-left {
  
  float: left;
  width: 47%;
  
}
.pull-right {
  
  float: right;
  width: 47%;
  
}


.figure {

}

figure {
  color: red  ;
  font-size: 14px ; 
  font-weight: bold
}


