<link href="assets/style/header.css" rel="stylesheet" />
<script>
  $(document).ready(function() {
    $('.main-container').prepend('<header><h1><img class="large" src="assets/images/logo-gemeente-amsterdam-large.svg" alt="Onderzoek en Statistiek Gemeente Amsterdam" /><img class="small" src="assets/images/logo-gemeente-amsterdam-small.svg" alt="Onderzoek en Statistiek Gemeente Amsterdam" /><span class="sc-52313036-5 kXiQse">Onderzoek en Statistiek</span></h1></header>');
  });
</script>
<link href="https://static.amsterdam.nl/fonts/fonts.css" rel="stylesheet" />
<script src="https://static.amsterdam.nl/fonts/mtiFontTrackingCode.min.js"></script>
