header {
  padding-top: 20px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  header {
    padding-bottom: 20px;
  }
}

header h1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, auto);
  column-gap: 2%;
  font-size: clamp(1.5rem, 1.5rem + (1 * (100vw - 20rem)) / 100, 2.5rem);
  line-height: clamp(2rem, 2rem + (1 * (100vw - 20rem)) / 100, 3rem);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  align-items: center;
}

@media screen and (max-width: 767px) {
  header h1 {
    display: flex;
    column-gap: normal;
    grid-template-columns: repeat(4, 1fr);
    font-size: clamp(1.125rem, 1.125rem + (0.375 * (100vw - 20rem)) / 100, 1.5rem);
  }
}

header img.large {
  width: 134px;
  grid-column: auto / span 2;
}

@media screen and (max-width: 767px) {
  header img.large {
    display: none;
  }
}

header img.small {
  height: 42px;
  margin-right: 18px;
  display: flex;
}

@media screen and (min-width: 768px) {
  header img.small {
    display: none;
  }
}

header span {
  grid-column: auto / span 6;
}
